body
{
	background-image: url("img/fond.jpg");
	color: white;

}

#titlebody
{
	display: flex;

}

table, td
{
	border: 2px solid black;
	border-collapse: collapse;
	padding: 3px;
	margin: 10px;
}

input
{
	margin-top: 10px;
	margin-right: 7px;
}


#blocservices
{
	border: 2px dashed lightgrey;
	margin: 10px;
}

#services_table 
{
	background-color: grey;
	width: 400px;
	height: 200px;
	color: black;
}

.services_section
{
	text-align: center;
}

a:visited
{
	color: red;
}

.th_services
{
	color: white;
}